@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.container {
  padding-top: 11%;
}

#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.contentContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.word {
  --fadeOutDelay: 1;
  --fadeOutDuration: 1.7;
  color: rgb(237, 198, 255);
  font-family: 'VT323', monospace;

}




.fade-out {
  animation: fadeOut ease calc(var(--fadeOutDelay) * 1s);
  animation-delay: calc(var(--fadeOutDuration) * 1s);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


h1 {
  color: var(--bg);
  position: relative;
  font-size: 20vw;
  line-height: 100vh;
  margin: 0;
  pointer-events: none;
}

body {
  min-height: 100vh;
  background: var(--fg);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  overflow: hidden;
}

#indexImage{
  padding-top: 2rem;
  margin-top: 2rem;
}

:root {
  --bg: #7700ff7a;
  --fg: #6a08af;
}
