html {
  font-size: 5vmin;
  /* font-size: 10rem; */
  overflow: hidden;
  background: #123;
}

body, head {
  display: block;
  font-size: 1rem;
  color: transparent;
  /* font-size: 10rem; */
}


head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 2.2359576967em 0.5644964449em 7px rgba(23, 255, 0, 0.9), 0.4004913375em 2.3739522368em 7px rgba(255, 8, 0, 0.9), 0.3290453072em 0.4439480631em 7px rgba(128, 255, 0, 0.9), 1.7327082346em 2.4786762586em 7px rgba(255, 162, 0, 0.9), -0.3174975217em -0.1608021141em 7px rgba(255, 114, 0, 0.9), 2.065117299em 0.2732102413em 7px rgba(119, 255, 0, 0.9), -0.4001381285em 0.6484912056em 7px rgba(0, 255, 176, 0.9), 0.688837812em -0.4079057946em 7px rgba(253, 0, 255, 0.9), 1.890263473em 0.7986377876em 7px rgba(0, 176, 255, 0.9), 0.4012560905em 0.3331719136em 7px rgba(122, 255, 0, 0.9), 1.8698556916em 1.2422975725em 7px rgba(255, 0, 146, 0.9), 2.0910978367em 2.1791709187em 7px rgba(255, 0, 116, 0.9), -0.3199468749em 1.403842064em 7px rgba(255, 0, 248, 0.9), 0.6633513305em 2.4954700316em 7px rgba(255, 184, 0, 0.9), -0.0738739593em 2.0225699884em 7px rgba(255, 253, 0, 0.9), -0.4641381528em 2.4247854291em 7px rgba(255, 158, 0, 0.9), -0.0251471539em 2.1721996688em 7px rgba(63, 0, 255, 0.9), 0.4524534947em 1.7183589989em 7px rgba(233, 0, 255, 0.9), -0.1061622017em 2.3127843142em 7px rgba(255, 0, 45, 0.9), 0.798008347em 1.9038913337em 7px rgba(0, 255, 84, 0.9), 0.1549638272em 2.0351783813em 7px rgba(0, 188, 255, 0.9), 0.9036282813em 1.3424989159em 7px rgba(0, 255, 110, 0.9), -0.1483556416em -0.4435446894em 7px rgba(212, 255, 0, 0.9), -0.156216565em 1.1226751753em 7px rgba(0, 195, 255, 0.9), 0.3098465001em 1.8617253303em 7px rgba(191, 0, 255, 0.9), 2.3822588794em 1.017662792em 7px rgba(0, 229, 255, 0.9), 0.7736435215em -0.290828476em 7px rgba(255, 0, 168, 0.9), 0.1876542985em 1.9690717625em 7px rgba(0, 154, 255, 0.9), 0.072019141em 1.2545470748em 7px rgba(0, 55, 255, 0.9), -0.0025589037em 0.1230498825em 7px rgba(93, 0, 255, 0.9), 1.5931960013em 0.1541604689em 7px rgba(229, 0, 255, 0.9), 2.3690671008em 2.461543505em 7px rgba(255, 0, 162, 0.9), 1.5718994112em -0.0402895987em 7px rgba(173, 0, 255, 0.9), 1.3975034673em -0.4210359889em 7px rgba(202, 255, 0, 0.9), -0.4401644988em 1.1263551959em 7px rgba(255, 0, 28, 0.9), 1.917439848em 0.8641504964em 7px rgba(255, 230, 0, 0.9), 1.2705954681em 0.537215202em 7px rgba(136, 255, 0, 0.9), -0.34028074em 0.8997112275em 7px rgba(150, 0, 255, 0.9), 1.5358299373em 0.2831793458em 7px rgba(0, 255, 212, 0.9), 0.3599971948em 2.3677738087em 7px rgba(0, 93, 255, 0.9), 1.4129875181em 0.9322392672em 7px rgba(116, 255, 0, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.2398484643em 2.4905976843em 7px rgba(0, 78, 255, 0.9), 2.0266869215em 1.3040630202em 7px rgba(42, 255, 0, 0.9), -0.0871930282em 2.4643758185em 7px rgba(103, 0, 255, 0.9), 1.990242449em 0.1717196716em 7px rgba(0, 236, 255, 0.9), -0.0672748084em 0.1681352688em 7px rgba(0, 255, 196, 0.9), 2.2259567934em 2.1623823013em 7px rgba(255, 0, 48, 0.9), 1.8104365421em 1.2796280306em 7px rgba(255, 95, 0, 0.9), -0.2424862788em -0.4039482817em 7px rgba(83, 255, 0, 0.9), 1.1002465894em 0.0827181315em 7px rgba(255, 5, 0, 0.9), 0.4811554143em 2.3537686928em 7px rgba(255, 44, 0, 0.9), 1.8370867498em -0.3074489305em 7px rgba(0, 41, 255, 0.9), 2.3890406858em 1.8669727844em 7px rgba(223, 255, 0, 0.9), 0.849364117em 0.5280492593em 7px rgba(154, 255, 0, 0.9), 0.1153589535em 2.2239083901em 7px rgba(255, 124, 0, 0.9), 1.4808980232em 0.8172406447em 7px rgba(255, 0, 187, 0.9), 2.2394625448em 1.488976584em 7px rgba(135, 0, 255, 0.9), 2.2006603093em 1.001673217em 7px rgba(0, 162, 255, 0.9), -0.0746559483em 0.4233797413em 7px rgba(255, 138, 0, 0.9), 2.1850384728em -0.1030120273em 7px rgba(255, 249, 0, 0.9), 0.9003242839em -0.4119000379em 7px rgba(0, 255, 78, 0.9), 1.9049160454em -0.0305413502em 7px rgba(0, 212, 255, 0.9), 0.4001328547em 1.0555543814em 7px rgba(255, 81, 0, 0.9), 1.5505924781em 0.086135829em 7px rgba(255, 0, 217, 0.9), -0.2989637953em 1.1471789864em 7px rgba(255, 0, 209, 0.9), 0.4257902333em 1.2152086501em 7px rgba(255, 228, 0, 0.9), 1.7046921534em 1.6973475759em 7px rgba(0, 255, 245, 0.9), 2.3893811227em -0.1457922734em 7px rgba(255, 0, 187, 0.9), -0.2388608779em 0.7570957956em 7px rgba(65, 255, 0, 0.9), -0.0209653249em 1.3853457308em 7px rgba(193, 255, 0, 0.9), 2.1273383356em 1.7007644534em 7px rgba(255, 237, 0, 0.9), 2.1486118414em 1.2372693963em 7px rgba(6, 0, 255, 0.9), 2.0019069617em 1.5910325526em 7px rgba(0, 116, 255, 0.9), 0.0200563798em -0.1267260399em 7px rgba(255, 7, 0, 0.9), 0.8173520917em 2.1491186293em 7px rgba(143, 255, 0, 0.9), 2.4519345079em 0.3359546091em 7px rgba(0, 255, 162, 0.9), 0.8165420101em 0.177733501em 7px rgba(0, 142, 255, 0.9), 1.5134452595em 2.2966184051em 7px rgba(112, 0, 255, 0.9), -0.3040219798em 1.9608593529em 7px rgba(255, 69, 0, 0.9), 1.9074900472em 1.485000051em 7px rgba(21, 0, 255, 0.9), 1.7418885419em 0.5476323182em 7px rgba(35, 255, 0, 0.9), 2.4245390663em 0.9858496602em 7px rgba(0, 226, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.7411428351em 1.6163945285em 7px rgba(37, 0, 255, 0.9), -0.2660602em 0.578812002em 7px rgba(247, 255, 0, 0.9), 1.6390734037em 1.5376202547em 7px rgba(255, 199, 0, 0.9), 0.5292064632em 2.16686663em 7px rgba(161, 255, 0, 0.9), 2.3698803817em 2.3412297621em 7px rgba(201, 0, 255, 0.9), -0.3756116741em 0.1877115915em 7px rgba(255, 0, 197, 0.9), 1.5020073569em 1.1506342791em 7px rgba(27, 255, 0, 0.9), 0.6473351986em 0.5489788326em 7px rgba(0, 255, 35, 0.9), 0.025294249em 0.2617216873em 7px rgba(255, 112, 0, 0.9), 1.4714153943em 0.8678396244em 7px rgba(255, 190, 0, 0.9), 0.0209594771em -0.4069852101em 7px rgba(251, 255, 0, 0.9), 0.2086532353em 2.4697471557em 7px rgba(255, 0, 65, 0.9), 1.8911570671em 1.5878320493em 7px rgba(207, 0, 255, 0.9), 2.0945814728em 2.4225971382em 7px rgba(119, 255, 0, 0.9), 0.4164703948em 1.0400291256em 7px rgba(255, 10, 0, 0.9), 0.2472958823em 0.8048736991em 7px rgba(0, 56, 255, 0.9), -0.4066109221em 0.241033411em 7px rgba(255, 0, 48, 0.9), -0.4207243594em 1.6208932244em 7px rgba(240, 255, 0, 0.9), 1.2519588643em 2.1167818567em 7px rgba(39, 0, 255, 0.9), 0.4484749717em 1.3781711781em 7px rgba(0, 255, 89, 0.9), -0.1040369641em 1.5666456079em 7px rgba(0, 255, 89, 0.9), 0.0572993699em -0.2380066989em 7px rgba(0, 112, 255, 0.9), 1.103885187em 0.1293618082em 7px rgba(134, 255, 0, 0.9), 1.8967800549em 1.7549267516em 7px rgba(128, 255, 0, 0.9), 0.8693372765em -0.1988407412em 7px rgba(0, 255, 149, 0.9), 1.8637463128em 1.1076070722em 7px rgba(255, 198, 0, 0.9), -0.3341637245em 1.6242328486em 7px rgba(255, 164, 0, 0.9), 0.3030190169em 1.6320864849em 7px rgba(0, 255, 237, 0.9), 0.1168497768em -0.021576389em 7px rgba(0, 255, 137, 0.9), 0.5735938989em 1.2292632967em 7px rgba(81, 0, 255, 0.9), 1.9757443567em 0.2899678313em 7px rgba(66, 0, 255, 0.9), 0.1268203608em -0.0783053741em 7px rgba(255, 114, 0, 0.9), 2.3883574398em 0.9627285959em 7px rgba(255, 212, 0, 0.9), 1.6329519436em 2.2935888102em 7px rgba(86, 255, 0, 0.9), 1.2471563469em 1.0513712183em 7px rgba(0, 32, 255, 0.9), 0.4231753718em -0.3489115584em 7px rgba(255, 40, 0, 0.9), 0.3260990253em 1.3648147135em 7px rgba(0, 84, 255, 0.9), -0.1151962978em 0.6148064929em 7px rgba(255, 85, 0, 0.9), 1.2086382222em 1.3256244718em 7px rgba(115, 0, 255, 0.9), 1.6582439962em 0.9107455579em 7px rgba(99, 255, 0, 0.9), 2.0372244923em -0.447506096em 7px rgba(255, 22, 0, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.7218686356em 1.0890494098em 7px rgba(41, 0, 255, 0.9), 0.1340123428em 1.8458576118em 7px rgba(0, 255, 123, 0.9), 1.9405274785em 1.3949081042em 7px rgba(239, 255, 0, 0.9), 0.6964618863em 0.2650218152em 7px rgba(45, 255, 0, 0.9), 0.9529946328em 0.8971820786em 7px rgba(255, 29, 0, 0.9), 0.5494897958em 0.0757824505em 7px rgba(255, 176, 0, 0.9), 2.4541591995em -0.4194758277em 7px rgba(203, 0, 255, 0.9), 2.0050384249em 1.0079835417em 7px rgba(255, 159, 0, 0.9), 2.1690184387em -0.400142451em 7px rgba(0, 22, 255, 0.9), 1.8587719447em -0.4549044033em 7px rgba(0, 255, 2, 0.9), 2.2798670762em 0.5747439459em 7px rgba(0, 186, 255, 0.9), 2.4850336964em 2.4893103385em 7px rgba(0, 255, 88, 0.9), 0.0975084353em 2.1422658048em 7px rgba(0, 255, 90, 0.9), 0.1656866342em 1.67681285em 7px rgba(0, 113, 255, 0.9), 1.5625395599em 2.1307698893em 7px rgba(0, 255, 106, 0.9), 1.7582598736em 2.1688545701em 7px rgba(0, 255, 21, 0.9), 0.1338755676em 1.185376005em 7px rgba(255, 0, 179, 0.9), 1.8677399067em 1.4393027628em 7px rgba(0, 255, 116, 0.9), 1.328155155em 1.2552434376em 7px rgba(255, 75, 0, 0.9), 0.6158160361em 2.3215403457em 7px rgba(0, 255, 120, 0.9), 1.4428449521em 0.332071857em 7px rgba(209, 0, 255, 0.9), 0.0559770995em 0.5668903802em 7px rgba(255, 101, 0, 0.9), 1.4556761715em 1.9867090167em 7px rgba(46, 255, 0, 0.9), 2.2499163568em -0.1762724864em 7px rgba(0, 11, 255, 0.9), 0.6566743206em 1.7803415185em 7px rgba(27, 0, 255, 0.9), 0.753178845em 2.2466625642em 7px rgba(255, 0, 157, 0.9), 1.9823021392em 2.3002519061em 7px rgba(192, 255, 0, 0.9), 2.1641581084em 2.3223950255em 7px rgba(0, 255, 112, 0.9), 2.0620908474em 1.014232946em 7px rgba(255, 0, 234, 0.9), 0.3076464344em 1.2474509607em 7px rgba(0, 255, 61, 0.9), 1.6870547908em 0.8293054983em 7px rgba(255, 197, 0, 0.9), -0.1532596453em 1.5278696664em 7px rgba(255, 154, 0, 0.9), 2.0802179844em 2.3306217921em 7px rgba(151, 255, 0, 0.9), 0.6757104385em 2.3302636134em 7px rgba(146, 255, 0, 0.9), 0.4485173043em 0.7072830356em 7px rgba(0, 255, 116, 0.9), 0.1741350456em 0.9609975265em 7px rgba(255, 0, 121, 0.9), 1.5883100555em -0.1511578799em 7px rgba(255, 146, 0, 0.9), 0.8801883838em 1.8528457807em 7px rgba(255, 0, 123, 0.9), -0.0243334614em 0.2332783902em 7px rgba(0, 255, 8, 0.9), 0.0801776709em 1.9217309936em 7px rgba(201, 255, 0, 0.9), 0.7054507525em 0.1035804995em 7px rgba(0, 108, 255, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/* ///////////////////// */
/* ////     Index    /// */
/* ///////////////////// */

.resistance {
  background-color: rgba(182, 182, 126, 0.304);
}

.hyphae {
  background-color: rgba(198, 170, 145, 0.46);
}

.passages {
  background-color:  rgba(183, 160, 255, 0.272);
}

.structures {
  background-color: rgba(143, 184, 143, 0.386);
}

.layers {
  background-color: rgba(211, 169, 169, 0.352);
}

.clusters {
  background-color: rgba(205, 166, 205, 0.452);
}

.landscapes {
  background-color: rgba(177, 203, 199, 0.337);
}

.spheres {
  background-color: rgba(210, 188, 226, 0.342);
}

.container{
  padding:0;
}

/* .textContainerInCaseINeedIt {
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;
} */


.indexTypeContainer, .indexItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 42;
  position: relative;
}

h1 {
  font-size: 2rem;
  z-index: 22;
  position: relative;
  margin: 0;
  padding: 1.55rem 0 0 0;
  /* animation: pulse infinite alternate 0.9s; */

}

.indexType{
  background-color: rgba(157, 208, 255, 0.453);
}

.indexItem,
.indexType {
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  margin: .75rem;
  padding: 0.2em .2em;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: .5rem;
  color: black;
  /* color: pink; */
  z-index: 22;
  position: relative;
}

@media screen and (min-width: 900px) {
  .indexItem,
.indexType { 
  opacity: 0.2;
}

.indexItem{
  text-transform: lowercase;
}

.fullOpacity {
  opacity: 1;
}

.indexItem:hover,
.indexItem:focus,
.indexType:hover,
.indexType:hover {
  background: var(--accentDark);
  color: var(--white);
  outline: none;
  border: var(--white);
  border-width: 0px;
}

@media (min-width: 60rem) {
  .indexItem,
  .indexType {
    width: auto;
  }
}

p {
  padding: 0;
  line-height: 1.75;
  font-size: .5rem;
}
