html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  /* problem is here with */
  /* position: absolute; */
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: 1;
}

body::before {
  text-shadow: 1.7992843927em 1.5792872539em 7px rgba(172, 255, 0, 0.9),
    0.7864253141em 1.3529224856em 7px rgba(0, 175, 255, 0.9),
    2.3686496872em 0.9768979657em 7px rgba(213, 0, 255, 0.9),
    1.7837198191em 2.4148691725em 7px rgba(164, 0, 255, 0.9),
    1.4618236784em 2.1325947667em 7px rgba(0, 255, 210, 0.9),
    1.1489795734em 1.5584997026em 7px rgba(255, 0, 120, 0.9),
    1.4905084113em 0.1869528788em 7px rgba(195, 0, 255, 0.9),
    -0.4463175684em 1.3838260533em 7px rgba(0, 176, 255, 0.9),
    1.9759328347em 0.4153267375em 7px rgba(0, 255, 17, 0.9),
    1.9206174061em 1.6414145681em 7px rgba(255, 0, 123, 0.9),
    0.0487096725em 1.4317424467em 7px rgba(75, 255, 0, 0.9),
    1.2975769492em -0.2001087253em 7px rgba(255, 0, 159, 0.9),
    0.6328544417em 0.6815101669em 7px rgba(78, 255, 0, 0.9),
    1.7270011565em 2.0571162129em 7px rgba(255, 0, 116, 0.9),
    -0.3139354382em 2.2113757193em 7px rgba(0, 34, 255, 0.9),
    2.0170005263em 0.7584649678em 7px rgba(0, 64, 255, 0.9),
    -0.3993467931em -0.1076660264em 7px rgba(255, 0, 158, 0.9),
    1.7336315434em 0.486484668em 7px rgba(0, 255, 45, 0.9),
    1.3965001085em 0.7653684341em 7px rgba(0, 200, 255, 0.9),
    0.968932017em 1.1946856001em 7px rgba(106, 0, 255, 0.9),
    1.7427185452em -0.4939814754em 7px rgba(223, 0, 255, 0.9),
    -0.313399122em 0.2953238285em 7px rgba(0, 255, 112, 0.9),
    0.0418108785em 2.4075198446em 7px rgba(206, 255, 0, 0.9),
    1.433032428em 1.954305391em 7px rgba(255, 44, 0, 0.9),
    1.4912864564em 2.2743665903em 7px rgba(30, 255, 0, 0.9),
    1.8421347669em -0.3217902435em 7px rgba(255, 0, 254, 0.9),
    2.2491877752em 1.8135025424em 7px rgba(222, 255, 0, 0.9),
    0.6729927901em 0.9570654003em 7px rgba(182, 255, 0, 0.9),
    0.86927673em -0.1221964182em 7px rgba(255, 0, 56, 0.9),
    0.6729284634em 1.8042730104em 7px rgba(255, 0, 37, 0.9),
    0.423114223em 1.4448215033em 7px rgba(0, 196, 255, 0.9),
    1.5875860276em 0.4860424174em 7px rgba(255, 60, 0, 0.9),
    -0.3696134094em 1.7920061685em 7px rgba(0, 113, 255, 0.9),
    1.8161062848em 2.3029104732em 7px rgba(0, 207, 255, 0.9),
    0.6852839022em 0.1302639892em 7px rgba(0, 13, 255, 0.9),
    0.4516748662em 0.6769821465em 7px rgba(0, 61, 255, 0.9),
    0.7183078433em 0.1627477394em 7px rgba(255, 178, 0, 0.9),
    1.7228315816em 0.0615510568em 7px rgba(0, 255, 106, 0.9),
    1.7893193873em 2.0422021701em 7px rgba(255, 0, 74, 0.9),
    2.0220889993em -0.212816512em 7px rgba(255, 55, 0, 0.9),
    1.5702103242em 2.1309024148em 7px rgba(113, 255, 0, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.5001176486em 2.1202206788em 7px rgba(233, 0, 255, 0.9),
    -0.3911863462em 1.6389756554em 7px rgba(255, 0, 198, 0.9),
    2.3539439233em 2.2827771011em 7px rgba(0, 255, 247, 0.9),
    0.5195937521em 1.3906664377em 7px rgba(70, 255, 0, 0.9),
    -0.4159420955em -0.4497864394em 7px rgba(255, 0, 115, 0.9),
    2.3731358468em 0.219793729em 7px rgba(0, 255, 25, 0.9),
    1.5793724659em 0.8443788061em 7px rgba(42, 255, 0, 0.9),
    0.4240004227em 2.3543692646em 7px rgba(178, 255, 0, 0.9),
    0.706687082em 0.1529742724em 7px rgba(123, 0, 255, 0.9),
    0.4660515263em 0.2626041195em 7px rgba(255, 55, 0, 0.9),
    -0.3500093451em 2.3422256589em 7px rgba(255, 152, 0, 0.9),
    1.9039005582em 1.4948652365em 7px rgba(0, 234, 255, 0.9),
    1.5368618432em 1.3084306849em 7px rgba(105, 0, 255, 0.9),
    -0.0797883194em 0.176137918em 7px rgba(100, 0, 255, 0.9),
    1.2058320314em 1.4099897855em 7px rgba(0, 146, 255, 0.9),
    0.6010605431em 0.5142918582em 7px rgba(0, 255, 173, 0.9),
    1.8956625138em 2.3664589973em 7px rgba(0, 59, 255, 0.9),
    1.8949167475em 0.2891914184em 7px rgba(250, 0, 255, 0.9),
    1.5845996684em 1.2775546119em 7px rgba(255, 18, 0, 0.9),
    1.8776725675em 2.0226616105em 7px rgba(151, 255, 0, 0.9),
    2.0574151969em 2.4581389795em 7px rgba(255, 71, 0, 0.9),
    1.6750259299em 1.2028265489em 7px rgba(81, 0, 255, 0.9),
    1.8988293043em -0.2032899514em 7px rgba(0, 255, 11, 0.9),
    1.1168183492em 1.9875886588em 7px rgba(255, 63, 0, 0.9),
    1.7219724851em 1.1867833933em 7px rgba(255, 165, 0, 0.9),
    0.5103125903em 0.7777715186em 7px rgba(249, 0, 255, 0.9),
    2.4881447364em 2.4720498945em 7px rgba(232, 255, 0, 0.9),
    -0.1129018252em -0.1210198936em 7px rgba(255, 0, 110, 0.9),
    1.0402840283em -0.1116432029em 7px rgba(0, 255, 178, 0.9),
    0.4366267144em 1.5064134334em 7px rgba(255, 65, 0, 0.9),
    2.4298811051em 2.0053781789em 7px rgba(0, 241, 255, 0.9),
    1.8015923182em 1.8027463593em 7px rgba(169, 0, 255, 0.9),
    0.9357229969em 1.0188470752em 7px rgba(255, 74, 0, 0.9),
    2.2553723104em 0.8944166548em 7px rgba(114, 255, 0, 0.9),
    -0.4495064529em 1.7165964775em 7px rgba(255, 0, 187, 0.9),
    1.2717634886em 1.814198744em 7px rgba(255, 0, 181, 0.9),
    0.4882021331em 1.7752358203em 7px rgba(0, 179, 255, 0.9),
    -0.2536529216em -0.3644162758em 7px rgba(198, 0, 255, 0.9),
    -0.1827369248em 0.6003235167em 7px rgba(0, 255, 67, 0.9),
    0.040916598em 2.4497345832em 7px rgba(0, 85, 255, 0.9),
    1.4148815041em 1.6900292122em 7px rgba(0, 255, 176, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 1.5015148104em 0.674309311em 7px rgba(82, 0, 255, 0.9),
    0.6919256662em 1.8174711801em 7px rgba(0, 255, 255, 0.9),
    1.766874128em 1.9186567453em 7px rgba(0, 141, 255, 0.9),
    0.0330970663em 0.3973297888em 7px rgba(0, 92, 255, 0.9),
    1.0127084275em 1.3873977891em 7px rgba(0, 255, 217, 0.9),
    0.2079783298em 0.7223832051em 7px rgba(255, 0, 8, 0.9),
    2.3273931997em 1.1161183799em 7px rgba(255, 0, 180, 0.9),
    1.5574784684em 1.4495292568em 7px rgba(0, 255, 62, 0.9),
    0.0798219865em 1.5660730139em 7px rgba(0, 57, 255, 0.9),
    1.8074317579em 2.0033298812em 7px rgba(255, 184, 0, 0.9),
    1.5965159448em -0.3347560285em 7px rgba(255, 83, 0, 0.9),
    2.3585334794em 0.176633637em 7px rgba(255, 0, 198, 0.9),
    0.2289134917em 1.8953107028em 7px rgba(255, 145, 0, 0.9),
    -0.3948914304em 0.2900011519em 7px rgba(255, 0, 206, 0.9),
    0.4043875316em -0.0919452797em 7px rgba(0, 255, 167, 0.9),
    2.1410169713em 0.0815356849em 7px rgba(255, 152, 0, 0.9),
    0.4855954007em 0.7587496576em 7px rgba(0, 255, 151, 0.9),
    -0.4996620335em 2.3610335365em 7px rgba(255, 0, 162, 0.9),
    1.0204275495em 1.3818421497em 7px rgba(255, 250, 0, 0.9),
    1.4909451463em 0.7883028731em 7px rgba(0, 255, 63, 0.9),
    0.0306418379em 1.002598863em 7px rgba(255, 143, 0, 0.9),
    0.3552258749em 2.0034485608em 7px rgba(255, 147, 0, 0.9),
    -0.1173453588em -0.4860692417em 7px rgba(255, 145, 0, 0.9),
    0.110832397em 1.9676955922em 7px rgba(0, 27, 255, 0.9),
    1.3293187291em 1.9496053165em 7px rgba(255, 0, 52, 0.9),
    -0.4937414581em 0.2073334916em 7px rgba(171, 0, 255, 0.9),
    1.2285222084em -0.3165507231em 7px rgba(255, 171, 0, 0.9),
    0.9568412668em -0.0264948783em 7px rgba(48, 255, 0, 0.9),
    0.7601829973em 2.2778711783em 7px rgba(160, 0, 255, 0.9),
    2.0331707976em 2.4991910047em 7px rgba(81, 0, 255, 0.9),
    1.8830914083em 2.4491644624em 7px rgba(255, 19, 0, 0.9),
    1.0731686931em 0.3637788771em 7px rgba(53, 255, 0, 0.9),
    0.3830233716em -0.2867625646em 7px rgba(255, 120, 0, 0.9),
    1.2629811395em -0.1568157833em 7px rgba(255, 0, 182, 0.9),
    0.1643573406em -0.0804016661em 7px rgba(0, 189, 255, 0.9),
    -0.4775128385em 0.3233408211em 7px rgba(255, 0, 252, 0.9),
    2.0096879977em 1.642087474em 7px rgba(96, 0, 255, 0.9),
    -0.3449014408em 1.3664327237em 7px rgba(255, 0, 242, 0.9),
    1.4625379812em -0.0529657581em 7px rgba(0, 255, 148, 0.9),
    1.0551082369em -0.1058358694em 7px rgba(255, 0, 195, 0.9),
    0.459609114em 2.0131892016em 7px rgba(255, 0, 227, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.0796122476em 0.4480750683em 7px rgba(255, 0, 195, 0.9),
    1.8980934366em 0.5174249184em 7px rgba(0, 169, 255, 0.9),
    -0.4456280973em 1.5345568014em 7px rgba(0, 82, 255, 0.9),
    1.793687802em 0.8387095371em 7px rgba(0, 255, 239, 0.9),
    1.2667734385em 0.5604412656em 7px rgba(63, 255, 0, 0.9),
    2.4810242412em 1.2368634202em 7px rgba(255, 222, 0, 0.9),
    0.1526567432em 1.3605058963em 7px rgba(213, 255, 0, 0.9),
    1.6517510758em -0.1463591115em 7px rgba(0, 37, 255, 0.9),
    1.2118112418em 2.4615245305em 7px rgba(116, 0, 255, 0.9),
    0.5854789438em 1.170612248em 7px rgba(222, 0, 255, 0.9),
    -0.3679236331em 2.3615794861em 7px rgba(0, 6, 255, 0.9),
    1.1217439807em 0.655564757em 7px rgba(125, 0, 255, 0.9),
    0.3873253782em 1.9491487063em 7px rgba(255, 0, 247, 0.9),
    1.5641077922em 0.545583814em 7px rgba(255, 136, 0, 0.9),
    2.2403008875em 1.3883235579em 7px rgba(0, 255, 101, 0.9),
    -0.2676671156em 1.8410054553em 7px rgba(35, 0, 255, 0.9),
    0.9848165651em 1.6913395368em 7px rgba(0, 43, 255, 0.9),
    0.55299458em 1.1138327549em 7px rgba(255, 120, 0, 0.9),
    0.9025270633em 2.1530492927em 7px rgba(0, 255, 33, 0.9),
    2.3589216333em 0.5455581796em 7px rgba(255, 183, 0, 0.9),
    -0.3070381845em 1.267093871em 7px rgba(248, 255, 0, 0.9),
    -0.2703955117em 1.2275259501em 7px rgba(255, 0, 74, 0.9),
    1.5141193128em 0.5924751833em 7px rgba(255, 0, 197, 0.9),
    2.3242350036em 0.2609027984em 7px rgba(255, 0, 168, 0.9),
    0.8244171692em 2.3886291002em 7px rgba(164, 255, 0, 0.9),
    1.2183698526em 0.2732554376em 7px rgba(91, 255, 0, 0.9),
    0.3657714027em 0.481509099em 7px rgba(0, 255, 106, 0.9),
    2.4189553752em 0.4637798539em 7px rgba(0, 255, 206, 0.9),
    -0.093631019em 1.1812865203em 7px rgba(0, 255, 114, 0.9),
    1.2750474593em 0.2425655428em 7px rgba(202, 0, 255, 0.9),
    1.7027771289em 1.9235781642em 7px rgba(255, 114, 0, 0.9),
    2.418307475em 1.0820954178em 7px rgba(255, 0, 236, 0.9),
    -0.1091865914em 1.426964533em 7px rgba(197, 255, 0, 0.9),
    2.3078113193em 1.8270838672em 7px rgba(0, 255, 22, 0.9),
    -0.3677143163em 1.597578601em 7px rgba(255, 166, 0, 0.9),
    1.1714708166em 1.0897685552em 7px rgba(255, 180, 0, 0.9),
    -0.2002407907em 1.5132777716em 7px rgba(0, 255, 193, 0.9),
    1.1451662734em 0.2716413926em 7px rgba(0, 39, 255, 0.9),
    2.1967938em 0.1686366131em 7px rgba(255, 233, 0, 0.9),
    0.7865764306em 0.5382709777em 7px rgba(255, 0, 71, 0.9),
    1.5101851324em -0.1405735298em 7px rgba(0, 30, 255, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/* ///////////////////// */
/* ////     Index    /// */
/* ///////////////////// */

/* .resistance {
  background-color: rgba(182, 182, 126, 0.304);
}

.hyphae {
  background-color: rgba(198, 170, 145, 0.46);
}

.passages {
  background-color:  rgba(183, 160, 255, 0.272);
}

.structures {
  background-color: rgba(143, 184, 143, 0.386);
}

.layers {
  background-color: rgba(211, 169, 169, 0.352);
}

.clusters {
  background-color: rgba(205, 166, 205, 0.452);
}

.landscapes {
  background-color: rgba(177, 203, 199, 0.337);
}

.spheres {
  background-color: rgba(210, 188, 226, 0.342);
} */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pulse {
  transform: scale(1);
  animation: pulse 12s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.indexTypeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 42;

}

.indexItem,
.indexType {
  opacity: 0.2;
  font-size: 1.11rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
  padding: 0.2em 2em;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  z-index: 22;
}

.fullOpacity {
  opacity: 1;
}

.indexItem:hover,
.indexItem:focus,
.indexType:hover,
.indexType:hover {
  background: var(--accentDark);
  color: var(--white);
  outline: none;
  border: var(--white);
  border-width: 0px;
}

@media (min-width: 60rem) {
  .indexItem,
  .indexType {
    width: auto;
  }
}

path {
  fill: transparent;
}

text {
  fill: rgb(83, 247, 154);
}
